
**.vscode
__pycache__
.DS_Store
pymongo/venv-pymongo
.idea
jinja2/venv-jinja2
dash/venv-dash
docker/venv-docker
docker-dash/venv-dash_docker
jenkins/venv-jenkins
ldap/venv-ldap
**.log
**.txt
bin
include
lib
